In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [8]:
df_mar = pd.read_csv('mar22_unicorn.csv')
df_nov = pd.read_csv('nov22_unicorn.csv')
df = df_mar.merge(df_nov, left_on='Company', right_on='Company')
df.head()
#Reading both CSVs and merging them

,Company,Valuation,Date Joined_x,Industry_x,City_x,Country/Region,Continent,Year Founded,Funding,Select Investors_x,Unnamed: 0,Valuation ($B),Date Joined_y,Country,City_y,Industry_y,Select Investors_y
0,SpaceX,100,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen...",1,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
1,SHEIN,100,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China...",2,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
2,Stripe,95,2014-01-23,FinTech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG",3,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
3,Klarna,46,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita...",98,$6.7,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita..."
4,Canva,40,2018-01-08,Internet software & services,Surry Hills,Australia,Oceania,2012,$572M,"Sequoia Capital China, Blackbird Ventures, Mat...",4,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [9]:
df['Date Joined'] = np.where(df['Date Joined_x'] is None, df['Date Joined_y'], df['Date Joined_x'])
df['Industry'] = np.where(df['Industry_x'] is None, df['Industry_y'], df['Industry_x'])
df['City'] = np.where(df['City_x'] is None, df['City_y'], df['City_x'])
df['Country'] = np.where(df['Country'] is None, df['Country/Region'], df['Country'])
#Combining duplicate data

df['Valuation ($B)'].replace('[$]', '', regex=True, inplace=True)
df['Valuation (November) ($B)'] = df['Valuation ($B)'].apply(float)
df['Valuation (March) ($B)'] = df['Valuation']
#Renaming valuation for both tables and converting numbers to int

In [10]:
df = df[['Company','Date Joined',
       'Industry', 'City', 'Continent', 'Year Founded', 'Funding',
       'Valuation (March) ($B)', 'Select Investors_x', 'Valuation (November) ($B)', 'Select Investors_y']]
df.rename(columns = {'Select Investors_x': 'Select Investors (March)', 'Select Investors_y': 'Select Investors (November)'}, inplace = True)
df.head()
#Slicing and removing unused data

,Company,Date Joined,Industry,City,Continent,Year Founded,Funding,Valuation (March) ($B),Select Investors (March),Valuation (November) ($B),Select Investors (November)
0,SpaceX,2012-12-01,Other,Hawthorne,North America,2002,$7B,100,"Founders Fund, Draper Fisher Jurvetson, Rothen...",127.0,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
1,SHEIN,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,Asia,2008,$2B,100,"Tiger Global Management, Sequoia Capital China...",100.0,"Tiger Global Management, Sequoia Capital China..."
2,Stripe,2014-01-23,FinTech,San Francisco,North America,2010,$2B,95,"Khosla Ventures, LowercaseCapital, capitalG",95.0,"Khosla Ventures, LowercaseCapital, capitalG"
3,Klarna,2011-12-12,Fintech,Stockholm,Europe,2005,$4B,46,"Institutional Venture Partners, Sequoia Capita...",6.7,"Institutional Venture Partners, Sequoia Capita..."
4,Canva,2018-01-08,Internet software & services,Surry Hills,Oceania,2012,$572M,40,"Sequoia Capital China, Blackbird Ventures, Mat...",40.0,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [11]:
np.random.seed(50)
col_name=['Valuation (March) ($B)','Valuation (November) ($B)']
mask = np.random.choice([True, False], size=df[col_name].shape)
mask[mask.all(1),-1] = 0
print(mask)
df[col_name]=df[col_name].mask(mask)
df.info()
df.head()
#Randomly inserting null values

[[ True False]
 [False False]
 [False  True]
 ...
 [False False]
 [ True False]
 [False  True]]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1039 entries, 0 to 1038
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Company                      1039 non-null   object
 1   Date Joined                  1039 non-null   object
 2   Industry                     1039 non-null   object
 3   City                         1022 non-null   object
 4   Continent                    1039 non-null   object
 5   Year Founded                 1039 non-null   int64
 6   Funding                      1039 non-null   object
 7   Valuation (March) ($B)       521 non-null    float64
 8   Select Investors (March)     1039 non-null   object
 9   Valuation (November) ($B)    795 non-null    float64
 10  Select Investors (November)  1038 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 89.4+ KB

,Company,Date Joined,Industry,City,Continent,Year Founded,Funding,Valuation (March) ($B),Select Investors (March),Valuation (November) ($B),Select Investors (November)
0,SpaceX,2012-12-01,Other,Hawthorne,North America,2002,$7B,NaN,"Founders Fund, Draper Fisher Jurvetson, Rothen...",127.0,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
1,SHEIN,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,Asia,2008,$2B,100.0,"Tiger Global Management, Sequoia Capital China...",100.0,"Tiger Global Management, Sequoia Capital China..."
2,Stripe,2014-01-23,FinTech,San Francisco,North America,2010,$2B,95.0,"Khosla Ventures, LowercaseCapital, capitalG",NaN,"Khosla Ventures, LowercaseCapital, capitalG"
3,Klarna,2011-12-12,Fintech,Stockholm,Europe,2005,$4B,NaN,"Institutional Venture Partners, Sequoia Capita...",6.7,"Institutional Venture Partners, Sequoia Capita..."
4,Canva,2018-01-08,Internet software & services,Surry Hills,Oceania,2012,$572M,40.0,"Sequoia Capital China, Blackbird Ventures, Mat...",NaN,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [12]:
imp_mean = SimpleImputer(strategy='mean')
missing = ['Valuation (March) ($B)','Valuation (November) ($B)']
df[missing] = imp_mean.fit_transform(df[missing])
df.head()
#Imputing null values

,Company,Date Joined,Industry,City,Continent,Year Founded,Funding,Valuation (March) ($B),Select Investors (March),Valuation (November) ($B),Select Investors (November)
0,SpaceX,2012-12-01,Other,Hawthorne,North America,2002,$7B,3.397313,"Founders Fund, Draper Fisher Jurvetson, Rothen...",127.00000,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
1,SHEIN,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,Asia,2008,$2B,100.000000,"Tiger Global Management, Sequoia Capital China...",100.00000,"Tiger Global Management, Sequoia Capital China..."
2,Stripe,2014-01-23,FinTech,San Francisco,North America,2010,$2B,95.000000,"Khosla Ventures, LowercaseCapital, capitalG",3.16522,"Khosla Ventures, LowercaseCapital, capitalG"
3,Klarna,2011-12-12,Fintech,Stockholm,Europe,2005,$4B,3.397313,"Institutional Venture Partners, Sequoia Capita...",6.70000,"Institutional Venture Partners, Sequoia Capita..."
4,Canva,2018-01-08,Internet software & services,Surry Hills,Oceania,2012,$572M,40.000000,"Sequoia Capital China, Blackbird Ventures, Mat...",3.16522,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [13]:
df.to_csv('new_unicorn_data.csv')